<div class="container ">
<div class="card  bg-light mt-5" style="max-width: 600px;">
  <div class="card-header">New task</div>
<div class="card-body">

<%= render "form", task: @task %>

<br>

<div>
</div>
<div>
</div>
