<div class="container ">
<div class="card  bg-light mt-5" style="max-width: 600px;">
  <div class="card-header">Add New project</div>

<div class="card-body">

<%= render "form", project: @project %> 

<br>


 </div>
  </div>
</div>